<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InvestETEC - Login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

  <main class="container">
    <div class="row align-items-center gy-5">
      
      <div class="col-lg-7 text-start">
        <h1 class="brand-title">Invest<span style="color: #e2ff00;">Etec</span></h1>
        <h2 class="brand-subtitle">Conectando talentos a oportunidades</h2>
        <p class="brand-description">
          O InvestEtec é a plataforma onde projetos acadêmicos ganham visibilidade. 
          Encontre a solução que você precisa ou o estagiário que sua empresa procura, tudo em um só lugar.
        </p>

        <div class="row g-4">
          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-icon">
                <i class="bi bi-people-fill"></i>
              </div>
              <div class="feature-text">
                <h5>Talento Jovem</h5>
                <p>Projetos desenvolvidos por alunos da ETEC</p>
              </div>
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="feature-box">
              <div class="feature-icon">
                <i class="bi bi-globe"></i>
              </div>
              <div class="feature-text">
                <h5>Oportunidades Reais</h5>
                <p>Empresas investem inovações</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-5">
        <div class="login-card">
          
          <img src="{{url_for('static', filename='logo.jpeg')}}" alt="logo" width="200" height="200" class="logo-img">

          <h4>Bem-Vindo!</h4>
          <p class="subtitle">Faça login para continuar</p>

          <form>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="seu@gmail.com" required>
            </div>
            
            <div class="mb-3">
              <label for="senha" class="form-label">Senha</label>
              <input type="password" class="form-control" id="senha" required>
            </div>

            <button type="submit" class="btn btn-submit">Entrar</button>
          </form>

          <div class="register-text">
            Não tem uma conta? <a href="#">Criar conta</a>
          </div>

        </div>
      </div>

    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>